
#headerbg 


#footerbg{ background:linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(0, 160, 212, 1) 0%, rgba(2, 9, 60, 1) 100%);}

#navcolor{background:linear-gradient(180deg, rgba(27, 145, 200, 1) 0%, rgba(7, 89, 193, 1) 100%);}

.container {
   height: 5em;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.container-2 {
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .container-3 {
    height: 20em;
    width: 100vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .container-4 {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }

 .button-1 {
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 40px;
 }

 #navtext {
    padding: 40px;
 }